{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste d'ingrédients</h1>

    <table>
        <thead>
            <tr>
                <th>Libellé</th>
                <th>Catégorie</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ingredient in ingredients %}
            <tr>
                <td>{{ ingredient.libelle }}</td>
                <td>{{ ingredient.categorie }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('ingredient_show', { 'id': ingredient.id }) }}">Voir</a>
                        </li>
                        <li>
                            <a href="{{ path('ingredient_edit', { 'id': ingredient.id }) }}">Modifier</a>
                        </li>
                        <li>
                            <a href="{{ path('ingredient_delete', { 'id': ingredient.id }) }}">Supprimer</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ingredient_new') }}">Ajouter un ingrédient</a>
        </li>
    </ul>
{% endblock %}
