<!DOCTYPE html>
<html>

<head>
        <meta charset="UTF-8" />
        <title>{% block title %}Caro j'ai faim!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
<!--
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{ asset('bundles/carogfaim/css/bootstrap.3.3.4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/carogfaim/css/bootstrap-theme.3.3.4.min.css') }}">

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/carogfaim/css/stylesheet.css') }}" type="text/css" >
            <link rel="stylesheet" href="{{ asset('bundles/carogfaim/css/colonnes.css') }}" type="text/css" >
            <link rel="stylesheet" href="{{ asset('bundles/carogfaim/css/body.css') }}" type="text/css" >
            <link rel="stylesheet" href="{{ asset('bundles/carogfaim/css/tableau.css') }}" type="text/css" >
            <link rel="stylesheet" href="{{ asset('bundles/carogfaim/css/form.css') }}" type="text/css" >
        {% endblock %}

        <style>
            form[action$=new],
            form[action$=edit],
            form[action$=delete] {
                display:inline; !important
            }
        </style>
</head>



<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Caro ! J'ai faim !!!</a>
        </div>
        <ul class="nav navbar-nav">

            <li><a href="/diner">Mes dîners</a></li>
            <li><a href="/personne">Mes Amis</a></li>
            <li><a href="/plat">Mes plats</a></li>
            <li><a href="/ingredient">Mes ingrédients</a></li>
            <li><a href="/categorie">Catégories</a></li>
            <li><a href="/login">Login</a></li>

        </ul>
    </div>
</nav>
{% block image %}

{% endblock %}





{%  block body %}


{%  endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/carogfaim/js/script.js') }}"></script>
    <script src="{{ asset('bundles/carogfaim/js/jquery-2.2.2.min.js') }}"></script>
    <script src="{{ asset('bundles/carogfaim/js/confirm_delete.js') }}"></script>
    <script src="{{ asset('bundles/carogfaim/js/cancel_button.js') }}"></script>
{% endblock %}
</body>
</html>

