{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ personne.nom }} {{ personne.prenom }}</h1>
    <form method="get" action="{{ path('personne_index') }}">
        <button class="marg" type="submit">Retour à la liste</button>
    </form>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <form method="delete" action="{{ path('personne_delete', { 'id': personne.id }) }}">
        <button type="submit">suppr.</button>
    </form>

{% endblock %}
