{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mes amis</h1>
       <a href="{{ path('personne_new') }}"><button class="marg">Nouvel(le) ami(e)</button></a>

    <div class="column-list">
        {% for personne in personnes %}
            <span>
                <a href="{{ path('personne_show', { 'id': personne.id }) }}">{{ personne.nom }} {{ personne.prenom }}</a>
            </span>
            <span>
                <a href="{{ path('personne_edit', { 'id': personne.id }) }}">
                    <button>modif.</button>
                </a>
                <a href="{{ path('personne_delete', { 'id': personne.id }) }}">
                    <button>suppr.</button>
                </a>

                <br>
            </span>
        {% endfor %}
    </div>

{% endblock %}
