{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mes amis</h1>
       <a href="{{ path('personne_new') }}"><button class="marg">Nouvel(le) ami(e)</button></a>

    <div class="column-list">
        {% for personne in personnes %}
            <span>
                <a href="{{ path('personne_show', { 'id': personne.id }) }}">{{ personne.nom }} {{ personne.prenom }}</a>
            </span>
            <span>
                <form method="get" action="{{ path('personne_edit', { 'id': personne.id }) }}">
                    <button type="submit"> modif. </button>
                </form>
                <form method="delete" action="{{ path('personne_delete', { 'id': personne.id }) }}">
                    <button type="submit"> suppr. </button>
                </form>

                <br>
            </span>
        {% endfor %}
    </div>

{% endblock %}
