{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mes amis</h1>
    <form method="get" action="{{ path('personne_new') }}">
        <button class="marg" type="submit">Nouvel(le) ami(e)</button>
    </form>

    {{ form_start(form, {'class': 'form_list' }) }}
    <input type="hidden" name="_method" value="GET" >

    <div class="column-list">
        {% for personne in personnes %}
            <span>
                <a href="{{ path('personne_show', { 'id': personne.id }) }}">{{ personne.nom }} {{ personne.prenom }}</a>
            </span>
            <span>
                <button type="submit" class="modif" formaction="{{ path('personne_edit', { 'id': personne.id }) }}"> modif. </button>
                <button type="submit" class="delete" formaction="{{ path('personne_delete', { 'id': personne.id }) }}"> suppr. </button>
                <br />
            </span>
        {% endfor %}
    </div>

    {{ form_end(form) }}

{% endblock %}
