{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ personne.nom }} {{ personne.prenom }}</h1>

   <div class="show-table">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>N'aime pas</th>

        </tr>
        </thead>
        <tbody>

        <tr>
                <td>{{ personne.nom }}</td>
                <td>{{ personne.prenom }}</td>
                <td>
                    {% if personne.exclureingredients.count > 0 %}
                        <ul>
                            {% for ingredient in personne.exclureingredients %}
                                <li>{{ ingredient }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        Aime tout !
                    {% endif %}
                </td>
            </tr>

        <tr>
            <td colspan="2">
                <form method="get" action="{{ path('personne_index') }}">
                    <button class="marg" type="submit">Retour à la liste</button>
                </form>
            </td>
            <td>
                <form method="get" action="{{ path('personne_edit', { 'id': personne.id }) }}">
                    <button type="submit"> modif. </button>
                </form>
                {#
                {% if plat.diners.count %}
                    <button class="button-no-click" disabled="disabled"> suppr. </button>
                {% else %}
                #}
                {{ form_start(delete_form, {'action': path('personne_delete', { 'id': personne.id }) }) }}
                <button type="submit"> suppr. </button>
                {{ form_end(delete_form) }}
                {#
                {% endif %}
                #}
            </td>

        </tr>



        </tbody>
    </table>
    </div>

{% endblock %}
