{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des catégories d'ingrédients</h1>
    <form method="get" action="{{ path('categorie_new') }}">
        <button class="marg" type="submit">Nouvelle catégorie d'ingrédients</button>
    </form>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Libellé</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td><a href="{{ path('categorie_show', { 'id': categorie.id }) }}">{{ categorie.libelle }}</a></td>
                <td>
                    <form method="get" action="{{ path('categorie_edit', { 'id': categorie.id }) }}">
                        <button type="submit"> modif. </button>
                    </form>
                    {% if categorie.ingredients.count %}
                        <form method="get">
                            <button class="button-no-click"> suppr. </button>
                        </form>
                    {% else %}
                        <form method="delete" action="{{ path('categorie_delete', { 'id': categorie.id }) }}">
                            <button type="submit"> suppr. </button>
                        </form>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>

    </ul>
{% endblock %}
