{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des catégories d'ingrédients</h1>

    <div class="container-width">
    <form method="get" action="{{ path('categorie_new') }}">
        <button class="marg" type="submit">Nouvelle catégorie d'ingrédients</button>
    </form>
    </div>

    <table class="table table-bordered container-width">
        <thead>
            <tr>
                <th>Libellé</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td><a href="{{ path('categorie_show', { 'id': categorie.id }) }}">{{ categorie.libelle }}</a></td>
                <td>
                    <form method="get" action="{{ path('categorie_edit', { 'id': categorie.id }) }}">
                        <button type="submit"> modif. </button>
                    </form>
                    {% if categorie.ingredients.count %}
                        <button class="button-no-click" disabled="disabled"> suppr. </button>
                    {% else %}
                        {{ form_start(delete_form, {'action': path('categorie_delete', { 'id': categorie.id }) }) }}
                        <button type="submit"> suppr. </button>
                        {{ form_end(delete_form) }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>

    </ul>
{% endblock %}
