{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mes plats</h1>
    <a href="{{ path('plat_new') }}"><button class="marg">Nouveau plat</button></a>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Note</th>
                <th>Annotations</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for plat in plats %}
            <tr>
                <td><a href="{{ path('plat_show', { 'id': plat.id }) }}">{{ plat.id }}</a></td>
                <td>{{ plat.libelle }}</td>
                <td>{{ plat.note }}</td>
                <td>{{ plat.annotations }}</td>
                <td>
                    <form method="get" action="{{ path('plat_edit', { 'id': plat.id }) }}">
                        <button type="submit"> modif. </button>
                    </form>
                    <form method="delete" action="{{ path('plat_delete', { 'id': plat.id }) }}">
                        <button type="submit"> suppr. </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Id</th>
            <th>Libelle</th>
            <th>Note</th>
            <th>Annotations</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for plat in plats %}
            <tr>
                <td><a href="{{ path('plat_show', { 'id': plat.id }) }}">{{ plat.id }}</a></td>
                <td>{{ plat.libelle }}</td>
                <td>{{ plat.note }}</td>
                <td>{{ plat.annotations }}</td>
                <td>
                    <form method="get" action="{{ path('plat_edit', { 'id': plat.id }) }}">
                        <button type="submit"> modif. </button>
                    </form>
                    <form method="delete" action="{{ path('plat_delete', { 'id': plat.id }) }}">
                        <button type="submit"> suppr. </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Id</th>
            <th>Libelle</th>
            <th>Note</th>
            <th>Annotations</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for plat in plats %}
            <tr>
                <td><a href="{{ path('plat_show', { 'id': plat.id }) }}">{{ plat.id }}</a></td>
                <td>{{ plat.libelle }}</td>
                <td>{{ plat.note }}</td>
                <td>{{ plat.annotations }}</td>
                <td>
                    <form method="get" action="{{ path('plat_edit', { 'id': plat.id }) }}">
                        <button type="submit"> modif. </button>
                    </form>
                    <form method="delete" action="{{ path('plat_delete', { 'id': plat.id }) }}">
                        <button type="submit"> suppr. </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>




{% endblock %}
