{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ plat.libelle }}</h1>

    <div class="show-table">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Type de plat</th>
                <td>{{ plat.typeplat }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ plat.note }}</td>
            </tr>
            <tr>
                <th>Ingrédients : </th>
                <td>
                    {% if plat.ingredients.count %}
                        <ul>
                        {% for ingredient in plat.ingredients %}
                            <li>{{ ingredient.libelle }}</li>
                        {% endfor %}
                        </ul>
                    {% else %}
                        Aucun ingrédient.
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Annotations : </th>
                <td>{{ plat.annotations }}</td>
            </tr>
            <tr>
                <td colspan="2">
                    <form method="get" action="{{ path('plat_index') }}">
                        <button class="marg" type="submit">Retour à la liste</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>

{% endblock %}