{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ plat.libelle }}</h1>

    <div class="photo_show" style="background-image:url('{{ asset(plat.webPath) }}');"></div>

    <div class="show-table">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Type de plat</th>
            <th>Note</th>
            <th>Ingrédients</th>

        </tr>
        </thead>

        <tbody>
            <tr>
                <td>{{ plat.typeplat }}</td>
                <td>{{ plat.note }}</td>
                <td>
                    {% if plat.ingredients.count %}
                        <ul>
                        {% for ingredient in plat.ingredients %}
                            <li>{{ ingredient.libelle }}</li>
                        {% endfor %}
                        </ul>
                    {% else %}
                        Aucun ingrédient.
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Annotations : </th>
                <td colspan="2" style="text-align: left">{{ plat.annotations }}</td>
            </tr>
            <tr>
                <td colspan="2">
                    <form method="get" action="{{ path('plat_index') }}">
                        <button class="marg" type="submit">Retour à la liste</button>
                    </form>
                </td>
                <td>
                    <form method="get" action="{{ path('plat_edit', { 'id': plat.id }) }}">
                        <button type="submit"> modif. </button>
                    </form>
                    {#
                    {% if plat.diners.count %}
                        <button class="button-no-click" disabled="disabled"> suppr. </button>
                    {% else %}
                    #}
                    {{ form_start(delete_form, {'action': path('plat_delete', { 'id': plat.id }) }) }}
                    <button type="submit"> suppr. </button>
                    {{ form_end(delete_form) }}
                    {#
                    {% endif %}
                    #}
                </td>

            </tr>
        </tbody>
    </table>

{% endblock %}