{% extends 'base.html.twig' %}

{% block body %}
    <h1>plat</h1>
    <form method="get" action="{{ path('plat_new') }}">
        <button class="marg" type="submit">Nouveau plat</button>
    </form>
    <form method="get" action="{{ path('plat_index') }}">
        <button class="marg" type="submit">Retour à la liste</button>
    </form>


    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ plat.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ plat.libelle }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ plat.note }}</td>
            </tr>
            <tr>
                <th>Annotations</th>
                <td>{{ plat.annotations }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('plat_edit', { 'id': plat.id }) }}">Editer</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
