{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mes dîners</h1>
    <form method="get" action="{{ path('diner_new') }}">
        <button class="marg" type="submit">Nouveau dîner</button>
    </form>

    {{ form_start(form, {'class': 'form_list' }) }}
    <input type="hidden" name="_method" value="GET" >

    <div class="show-table">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Date du dîner</th>
                    <th colspan="2">a eu lieu</th>
                </tr>
            </thead>
            <tbody>
            {% for diner in diners %}
                <tr>
                    <td>
                        <a href="{{ path('diner_show', { 'id': diner.id }) }}">
                        {% if diner.dateDiner %}{{ diner.dateDiner|date('\\L\\e d/m/Y \\à H:i') }}{% endif %}
                        </a>
                    </td>
                    <td>{% if diner.estArchive %}Oui{% else %}Non{% endif %}</td>
                    <td>
                        <button type="submit" class="modif" formaction="{{ path('diner_edit', { 'id': diner.id }) }}"> modif. </button>
                        <button type="submit" class="delete" formaction="{{ path('diner_delete', { 'id': diner.id }) }}"> suppr. </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {{ form_end(form) }}

{% endblock %}
