{% extends 'base.html.twig' %}

{% block body %}
    <h1>Dîner du {{ diner.dateDiner|date('d/m/Y à H:i') }}</h1>
    <div class="show-table">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Dîner</th>
            <th>a eu lieu</th>
        </tr>
        </thead>

        <tbody>
            <tr>
                <td>{% if diner.dateDiner %}{{ diner.dateDiner|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td style="text-align: left">{% if diner.estArchive %}Oui{% else %}Non{% endif %}</td>
            </tr>
            <tr>
                <td>
                    <form method="get" action="{{ path('diner_index') }}">
                        <button class="marg" type="submit">Retour à la liste</button>
                    </form>
                </td>
                <td>
                    <form method="get" action="{{ path('diner_edit', { 'id': diner.id }) }}">
                        <button type="submit"> modif. </button>
                    </form>
                    {#
                    {% if plat.diners.count %}
                        <button class="button-no-click" disabled="disabled"> suppr. </button>
                    {% else %}
                    #}
                    {{ form_start(delete_form, {'action': path('diner_delete', { 'id': diner.id }) }) }}
                    <button type="submit"> suppr. </button>
                    {{ form_end(delete_form) }}
                    {#
                    {% endif %}
                    #}
                </td>

            </tr>

        </tbody>
    </table>
</div>

{% endblock %}
