{% extends 'base.html.twig' %}

{% block body %}
    <h1>diner</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ diner.id }}</td>
            </tr>
            <tr>
                <th>Datediner</th>
                <td>{% if diner.dateDiner %}{{ diner.dateDiner|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Estarchive</th>
                <td>{% if diner.estArchive %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('diner_index') }}">Retour à la liste</a>
        </li>
        <li>
            <a href="{{ path('diner_edit', { 'id': diner.id }) }}">Montrer</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Suprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
