{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modifier :<br>{{ ingredient.libelle }}</h1>

    <div class="center">
        {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Enregistrer" />
        <input type="button" value="Annuler" back_href="{{ path('ingredient_index') }}" />
        {{ form_end(edit_form) }}
    </div>

{% endblock %}
