{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste d'ingrédients</h1>
    <button class="marg">
        <a href="{{ path('ingredient_new') }}">Ajouter un nouvel ingrédient</a>
    </button>

    <div class="bloc-table">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Libellé</th>
                <th>Catégorie</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for ingredient in ingredients %}

                <tr>
                    <td><a href="{{ path('ingredient_show', { 'id': ingredient.id }) }}">{{ ingredient.libelle }}</a></td>
                    <td>{{ ingredient.categorie }}</td>
                    <td>
                        <button><a href="{{ path('ingredient_edit', { 'id': ingredient.id }) }}">Modifier</button>
                        <button><a href="{{ path('ingredient_delete', { 'id': ingredient.id }) }}" onClick="javascript:return confirm('Confirmer la suppression ?');">Supprimer</a></button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Libellé</th>
                <th>Catégorie</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for ingredient in ingredients %}

                <tr>
                    <td><a href="{{ path('ingredient_show', { 'id': ingredient.id }) }}">{{ ingredient.libelle }}</a></td>
                    <td>{{ ingredient.categorie }}</td>
                    <td>
                        <button><a href="{{ path('ingredient_edit', { 'id': ingredient.id }) }}">Modifier</button>
                        <button><a href="{{ path('ingredient_delete', { 'id': ingredient.id }) }}" onClick="javascript:return confirm('Confirmer la suppression ?');">Supprimer</a></button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="bloc-table">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Libellé</th>
                <th>Catégorie</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for ingredient in ingredients %}

                <tr>
                    <td><a href="{{ path('ingredient_show', { 'id': ingredient.id }) }}">{{ ingredient.libelle }}</a></td>
                    <td>{{ ingredient.categorie }}</td>
                    <td>
                        <button><a href="{{ path('ingredient_edit', { 'id': ingredient.id }) }}">Modifier</button>
                        <button><a href="{{ path('ingredient_delete', { 'id': ingredient.id }) }}" onClick="javascript:return confirm('Confirmer la suppression ?');">Supprimer</a></button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Libellé</th>
                <th>Catégorie</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for ingredient in ingredients %}

                <tr>
                    <td><a href="{{ path('ingredient_show', { 'id': ingredient.id }) }}">{{ ingredient.libelle }}</a></td>
                    <td>{{ ingredient.categorie }}</td>
                    <td>
                        <button><a href="{{ path('ingredient_edit', { 'id': ingredient.id }) }}">Modifier</button>
                        <button><a href="{{ path('ingredient_delete', { 'id': ingredient.id }) }}" onClick="javascript:return confirm('Confirmer la suppression ?');">Supprimer</a></button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
