{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mes ingrédients</h1>

        <a href="{{ path('ingredient_new') }}"><button class="marg">Nouvel ingrédient</button></a>

    <div class="column-list-ingred">
        {% for categorie in categories %}

        <table class="table table-bordered">
            <thead>
            <tr>
                <th colspan="2">{{ categorie.libelle }}</th>
                <!-- <th>Libellé</th>
                <th>Catégorie</th>
                <th>Actions</th>-->
            </tr>
            </thead>
            <tbody>
            {% for ingredient in categorie.ingredients %}

                <tr>
                    <td><a href="{{ path('ingredient_show', { 'id': ingredient.id }) }}">{{ ingredient.libelle }}</a></td>
                    <!-- <td>{{ ingredient.categorie }}</td> -->
                    <td>
                        <a href="{{ path('ingredient_edit', { 'id': ingredient.id }) }}">
                            <button>modif.</button>
                        </a>
                        <a href="{{ path('ingredient_delete', { 'id': ingredient.id }) }}" onClick="javascript:return confirm('Confirmer la suppression ?');">
                            <button>suppr.</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endfor %}

    </div>

{% endblock %}
