{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mes ingrédients</h1>

    <form method="get" action="{{ path('ingredient_new') }}">
        <button class="marg" type="submit">Nouvel ingrédient</button>
    </form>

    <div class="column-list-ingred">
        {% for categorie in categories %}
            {% if categorie.ingredients.count %}

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th colspan="2">{{ categorie.libelle }}</th>
                </tr>
                </thead>
                <tbody>
                {% for ingredient in categorie.ingredients %}

                    <tr>
                        <td>
                            {{ ingredient.libelle }}
                        </td>
                        <td>
                            <form method="get" action="{{ path('ingredient_edit', { 'id': ingredient.id }) }}">
                                <button type="submit"> modif. </button>
                            </form>
                            {#
                            {% if ingredient.plats.count %}
                                <button class="button-no-click" disabled="disabled"> suppr. </button>
                            {% else %}
                            #}
                                {{ form_start(delete_form, {'action': path('ingredient_delete', { 'id': ingredient.id }) }) }}
                                <button type="submit"> suppr. </button>
                                {{ form_end(delete_form) }}
                            {#
                            {% endif %}
                            #}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}
